<aside class="side-bar">
    <header>
        <label>{{'sidebar.sidebarHeading' | i18n}}</label>

        <div class="button-container">
            <button data-ng-class="{'active': sidebar.SharedData.gridState === 'list-view'}" data-ng-click="sidebar.switchViewStyle('list');">
                <i class="bhi-view-list"></i>
            </button>
            <button data-ng-class="{'active': sidebar.SharedData.gridState === 'grid-view'}" data-ng-click="sidebar.switchViewStyle('grid');">
                <i class="bhi-view-module"></i>
            </button>
        </div>
    </header>
    <section>
        <div class="keyword-search">
            <label for="keyword"><i class="bhi-search"></i></label>
            <input class="search" type="text" data-ng-change="sidebar.searchOnDelay()" data-ng-model="sidebar.SearchService.searchParams.textSearch" id="keyword" name="keyword" data-i18n-attr="{placeholder: 'sidebar.sidebarSearchPlaceholder'}"/>
            <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.textSearch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('text');" name="clear-all">
                <i class="bhi-times"></i>
            </button>
        </div>

        <!--
        <div class="keyword-search">
            <label for="companyName"><i class="bhi-search"></i></label>
            <input class="search" type="text" data-ng-change="sidebar.searchOnDelay()" data-ng-model="sidebar.SearchService.searchParams.companyNameSearch" id="companyName" name="companyName" placeholder="Company Name Search"/>
            <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.companyNameSearch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('companyName');" name="clear-all">
                <i class="bhi-times"></i>
            </button>
        </div>
        -->

        <section class="filter-section" data-ng-class="{'active':!sidebar.divisionLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.divisionSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.division.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('division');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="division in filteredDivisions = (sidebar.divisions | omitFilters:'division':sidebar.SearchService.searchParams.division) | limitTo:sidebar.divisionLimitTo | orderBy:'division' track by division">
                <input type="checkbox" id="{{::division}}" data-ng-checked="sidebar.hasDivisionFilter(division)" data-ng-click="sidebar.addOrRemoveDivision(division)">
                <label for="{{::division}}">{{::division}}</label>
                <span>{{division.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.divisionLimitTo && filteredDivisions.length > 8" data-ng-click="sidebar.updateDivisionLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.divisionLimitTo" 
                data-ng-click="sidebar.updateDivisionLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <section class="filter-section" data-ng-class="{'active':!sidebar.branchLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.branchSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.branch.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('branch');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="branch in filteredBranches = (sidebar.branches | omitFilters:'branch':sidebar.SearchService.searchParams.branch) | limitTo:sidebar.branchLimitTo | orderBy:'branch' track by branch">
                <input type="checkbox" id="{{::branch}}" data-ng-checked="sidebar.hasBranchFilter(branch)" data-ng-click="sidebar.addOrRemoveBranch(branch)">
                <label for="{{::branch}}">{{::branch}}</label>
                <span>{{branch.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.branchLimitTo && filteredBranches.length > 8" data-ng-click="sidebar.updateBranchLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.branchLimitTo" data-ng-click="sidebar.updateBranchLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <section class="filter-section" data-ng-class="{'active':!sidebar.stateLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.stateSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.state.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('state');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <!-- Added 'track by' clause to prevent excessive flickering when updating the sidebar's location list - R.D. -->
            <div class="filter-item slide-down-item" data-ng-repeat="state in filteredStates = (sidebar.states | omitFilters:'state':sidebar.SearchService.searchParams.state) | limitTo:sidebar.stateLimitTo | orderBy:'state' track by state">
                <input type="checkbox" id="{{::state}}" data-ng-checked="sidebar.hasStateFilter(state)" data-ng-click="sidebar.addOrRemoveState(state)">
                <label for="{{::state}}">{{::state}}</label>
                <span>{{state.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.stateLimitTo && filteredStates.length > 8" data-ng-click="sidebar.updateStateLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.stateLimitTo" data-ng-click="sidebar.updateStateLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <section class="filter-section" data-ng-class="{'active':!sidebar.cityLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.citySectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.city.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('city');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>

            <div class="filter-item slide-down-item" data-ng-repeat="city in filteredCities = (sidebar.cities | omitFilters:'city':sidebar.SearchService.searchParams.city) | limitTo:sidebar.cityLimitTo | orderBy:'city' track by city">
                <input type="checkbox" id="{{::city}}" data-ng-checked="sidebar.hasCityFilter(city)" data-ng-click="sidebar.addOrRemoveCity(city)">
                <label for="{{::city}}">{{::city}}</label>
                <span>{{city.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.cityLimitTo && filteredCities.length > 8" data-ng-click="sidebar.updateCityLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.cityLimitTo" data-ng-click="sidebar.updateCityLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>

        <section class="filter-section" data-ng-class="{'active':!sidebar.employmentTypeLimitTo}">
            <div class="filter-section-header">
                <h4>{{'common.employmentTypeSectionHeading' | i18n}}</h4>
                <button class="clear-filter" data-ng-show="sidebar.SearchService.searchParams.employmentType.length" data-ng-click="sidebar.clearSearchParamsAndLoadData('employmentType');" name="clear-all">
                    <i class="bhi-times"></i> {{'sidebar.clearButton' | i18n}}
                </button>
            </div>
            
            <div class="filter-item slide-down-item" data-ng-repeat="employmentType in filteredEmploymentTypes = (sidebar.employmentTypes | omitFilters:'employmentType':sidebar.SearchService.searchParams.employmentType) | limitTo:sidebar.employmentTypeLimitTo | orderBy:'employmentType' track by employmentType">
                <input type="checkbox" id="{{::employmentType}}" data-ng-checked="sidebar.hasEmploymentTypeFilter(employmentType)" data-ng-click="sidebar.addOrRemoveEmploymentType(employmentType)">
                <label for="{{::employmentType}}">{{::employmentType}}</label>
                <span>{{employmentType.idCount}}</span>
            </div>

            <span class="show-more" data-ng-if="sidebar.employmentTypeLimitTo && filteredEmploymentType.length > 8" data-ng-click="sidebar.updateEmploymentTypeLimitTo(null)">
                 {{'sidebar.showMoreLabel' | i18n}}
            </span>
            <span class="show-more" data-ng-if="!sidebar.employmentTypeLimitTo" data-ng-click="sidebar.updateEmploymentTypeLimitTo(8)">
                 {{'sidebar.showLessLabel' | i18n}}
            </span>
        </section>


        <section class="credits">
            <span class="powered-by">{{'sidebar.poweredByText' | i18n}}</span>
            <img class="bullhorn" src="assets/images/logo.svg"></img>
        </section>

        <button type="button" class="bhi-arrow-left" name="back-arrow" data-ng-click="sidebar.goBack();"></button>
    </section>
</aside>
